@model IEnumerable<TrafficReporter.Model.Common.IReport>

@{
    ViewBag.Title = "FilterReports";
}

<h2>FilterReports</h2>

@foreach (var report in Model)
{   <body>      
    @report.Id <br />
    @report.Lattitude <br />
    @report.Longitude <br />
    @report.Direction <br />
    @report.Rating <br />
    @report.Cause <br />

    </body>
}